@model List<Person>

@foreach (var person in Model)
{
    <div id="@("editform" + @person.Id)" class="row">
        <div class="col">
            <p>@person.Name</p>
        </div>
        <div class="col">
            <p>@person.PhoneNumber</p>
        </div>
        <div class="col">
            <p>@person.City</p>
        </div>
        <div class="col">
            <a class="EditBtnPartial btn btn-warning">Edit</a>
        </div>
        <div class="col">
            <a class="RemoveBtnPartial btn btn-danger">Remove</a>
        </div>
        @*<div class="col">
            <a class="EditBtnPartial btn btn-warning" onclick="jsFormEditPerson(event, @person.Id)" asp-controller="People" asp-action="FormEditPerson" data-target="@("editform" + @person.Id)">Edit</a>
        </div>
        <div class="col">
            <a class="RemoveBtnPartial btn btn-danger" id="@person.Id">Remove</a>
        </div>*@
    </div>
}
